.idea/
.vscode/
.phpdoc/
node_modules/
package-lock.json
/vendor/composer
/vendor/autoload.php
/vendor/bin/
/vendor/nikic/
/vendor/phpdocumentor/
/vendor/pronamic/
/vendor/psr/
/vendor/symfony/
/vendor/webmozart/
/vendor/gamajo/template-loader/.editoconfig
/vendor/gamajo/template-loader/.gitignore
/vendor/gamajo/template-loader/.phpcs.xml.dist
/vendor/gamajo/template-loader/CHANGELOG.md
/vendor/gamajo/template-loader/composer.json
/vendor/gamajo/template-loader/LICENSE
/vendor/gamajo/template-loader/README.md
/vendor/doctrine/
/vendor/phpstan/
