.idea/
.vscode/
.phpdoc/
.github/
node_modules/
package-lock.json
/vendor/composer
/vendor/autoload.php
/vendor/bin/
/vendor/gamajo/template-loader/.editoconfig
/vendor/gamajo/template-loader/.gitignore
/vendor/gamajo/template-loader/.phpcs.xml.dist
/vendor/gamajo/template-loader/CHANGELOG.md
/vendor/gamajo/template-loader/composer.json
/vendor/gamajo/template-loader/LICENSE
/vendor/gamajo/template-loader/README.md
/vendor/dudo1985/
